html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 50px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid #B2B5B6;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff; }
  #mainContent div, #mainContent img {
    position: absolute; }

.blueLogo {
  top: 8px;
  left: 94px; }

#whiteLogo {
  top: 11px;
  left: 9px;
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px); }

.hide {
  opacity: 0; }

.bg-sky {
  width: 300px;
  height: 50px;
  top: 0;
  left: 0;
  background: #00B6DE; }

.bg-navy {
  width: 300px;
  height: 50px;
  top: 0;
  left: 0;
  background: #003E7E; }

.top {
  top: -3px;
  left: -1px;
  -webkit-transform: translateY(-90px);
  -ms-transform: translateY(-90px);
  transform: translateY(-90px); }

.bottom {
  top: -3px;
  left: -1px;
  -webkit-transform: translateY(90px);
  -ms-transform: translateY(90px);
  transform: translateY(90px); }

#copyThree {
  left: -2px; }

#copyFour {
  left: 118px;
  top: 9px; }

#cta {
  top: 30px;
  left: 118px; }

#bgExit {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 50px;
  cursor: pointer; }
