html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 728px;
  height: 90px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid #B2B5B6;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent div, #mainContent img {
    position: absolute; }

.hide {
  opacity: 0; }

.bg-sky {
  width: 728px;
  height: 90px;
  top: 0;
  left: 0;
  background: #00B6DE; }

.bg-navy {
  width: 728px;
  height: 90px;
  top: 0;
  left: 0;
  background: #003E7E; }

.logo {
  top: 25px;
  left: 28px; }

.copy {
  top: -1px;
  left: 203px; }

#copyOne,
#copyThree {
  -webkit-transform: translateY(-90px);
  -ms-transform: translateY(-90px);
  transform: translateY(-90px); }

#copyTwo,
#copyFour {
  -webkit-transform: translateY(90px);
  -ms-transform: translateY(90px);
  transform: translateY(90px); }

#ctaContainer {
  width: 207px;
  height: 46px;
  background: #FFD600;
  top: 21px;
  right: 19px;
  -webkit-transform: translateX(230px);
  -ms-transform: translateX(230px);
  transform: translateX(230px); }
  #ctaContainer img {
    top: 7px;
    left: 6px; }

#bgExit {
  position: absolute;
  top: 0;
  left: 0;
  width: 728px;
  height: 90px;
  cursor: pointer; }
