html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid #B2B5B6;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent div, #mainContent img {
    position: absolute; }

.logo {
  top: 14px;
  left: 14px; }

.copy {
  top: 90px;
  left: 15px;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px); }

.bg {
  top: -1px;
  right: -1px; }

.hide {
  opacity: 0; }

.blueSmall {
  top: 70px;
  left: 15px; }

#blueCopyFour {
  top: 73px;
  left: 15px; }

#copyTwo {
  left: 14px;
  top: 89px; }

#copyFour {
  top: 97px;
  left: 14px; }

#ctaContainer {
  width: 166px;
  height: 37px;
  background: #FFD600;
  top: 163px;
  left: 14px;
  opacity: 0; }

#bgExit {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 250px;
  cursor: pointer; }
